<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>389616235584-62as941gqbcjtn88qq512r1prukd8dhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389616235584-62as941gqbcjtn88qq512r1prukd8dhj</string>
	<key>API_KEY</key>
	<string>AIzaSyDY_Rb8nwiUN4M4TIifQCZyaPbj2vGyGPI</string>
	<key>GCM_SENDER_ID</key>
	<string>389616235584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyggely.hyggely</string>
	<key>PROJECT_ID</key>
	<string>chat-38e12</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-38e12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389616235584:ios:057f7f793ff75379</string>
	<key>DATABASE_URL</key>
	<string>https://chat-38e12.firebaseio.com</string>
</dict>
</plist>